{% extends "main/plantilla.html" %}
{% load static %}
{% block content %}
<section class="page-section bg-light">
    <div class="container">
        <div class="border-bottom mb-5">
            <h2 class="section-heading text-uppercase text-left">Nuestras Promos</h2>
        </div>
        <div class="row text-center">
            <div class="col-6 p-1">
                <img src="{% static 'main/img/promo_1.jpg' %}" class="img-fluid" width="450">
            </div>
            <div class="col-6 p-1">
                <img src="{% static 'main/img/promo_2.jpg' %}" class="img-fluid" width="450">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-6 p-1">
                <img src="{% static 'main/img/promo_3.jpg' %}" class="img-fluid" width="450">
            </div>
            <div class="col-6 p-1">
                <img src="{% static 'main/img/promo_4.jpg' %}" class="img-fluid" width="450">
            </div>
        </div>
    </div>
</section>
{% endblock content %}