{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <link href="{% static 'main/img/favicon.css' %}" rel="icon">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      {% if title %}
          <title>World's End - Bar - {{ title }}</title>
      {% else %}
          <title>World's End - Bar</title>
      {% endif %}
  </head>
  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal text-white">World's End Bar</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-white" href="{% url 'home' %}">Home</a>
        <a class="p-2 text-white" href="#">Promos</a>
        <a class="p-2 text-white" href="#">Sucursales</a>
        <a class="p-2 text-white" href="#">Reservas</a>
        <a class="p-2 text-white" href="{% url 'menu' %}">Menu</a>
        <a class="p-2 text-white" href="#">Pedidos</a>
        <a class="p-2 text-white" href="{% url 'comentarios' %}">Comentarios</a>
        <a class="p-2 text-white" href="{% url 'about' %}">About</a>
        <a>|</a>
        {% if user.is_superuser %}
        <a class="p-2 text-white" href="{% url 'cargar' %}">Cargar Menu</a>
        <a class="p-2 text-white" href="{% url 'perfil_admin' %}">Perfil</a>
        {% elif user.is_employee %}
        <a class="p-2 text-white" href="{% url 'cargar' %}">Cargar Menu</a>
        <a class="p-2 text-white" href="{% url 'perfil_empleado' %}">Perfil</a>
        {% elif user.is_customer %}
        <a class="p-2 text-white" href="{% url 'perfil_cliente' %}">Perfil</a>
        {% endif %}
        {% if user.is_authenticated %}
        <a class="p-2 text-white" href="{% url 'logout' %}">Salir</a>
        {% endif %}
      </nav>
      {% if user.is_authenticated == False %}
      <a class="p-2 text-white pr-4" href="{% url 'login' %}">Ingresar</a>
      <a class="btn btn-outline-primary" href="{% url 'register' %}">Registrase</a>
      {% endif %}
    </div>

      <main>
          <div class="container">
            World's End - Bar
            {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </div>

      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

      </main>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>