{% extends "main/base.html" %}
{% load static %}
{% block content %}
  <header class="masthead">
    <div class="container">
        <div class="masthead-subheading">¡Bienvenidos a Shelter!</div>
        <div class="masthead-heading text-uppercase">We love birra</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'menu' %}">nuestra carta</a>
    </div>
  </header>

  <!-- Services-->
  <section class="page-section" id="services">
      <div class="container">
          <div class="text-center">
              <h2 class="section-heading text-uppercase">La mejor cerveza tirada</h2>
              <h3 class="section-subheading text-muted">Un nuevo espacio cervezero en Tigre para desconectarse y disfrutar.</h3>
          </div>
          <div class="row text-center">
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                    <img width="80px" src="{% static 'main/img/hamburger.svg' %}"/>
                  </span>
                  <h4 class="my-3">La mejor carta</h4>
                  <p class="text-muted">Desde hamburguesas gourmet hasta ensaladas.</p>
              </div>
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <img width="100px" src="{% static 'main/img/beer_2.svg' %}"/>
                  </span>
                  <h4 class="my-3">Cervezas</h4>
                  <p class="text-muted">La mejor cerveza tirada de la zona.</p>
              </div>
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                    <img width="80px" src="{% static 'main/img/laptop.svg' %}"/>
                  </span>
                  <h4 class="my-3">Delivery y Take Away</h4>
                  <p class="text-muted">Pedinos lo que quieras. Lo retirás o te lo llevamos.</p>
              </div>
          </div>
      </div>
  </section>

  <section class="page-section bg-light">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contactanos</h2>
            <h3 class="section-subheading text-muted">Dejanos tus cometarios. Te responderemos a la brevedad.</h3>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
        </div>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row align-items-stretch mb-5">
            <div class="col-md-6">
                <div class="form-group">
                  <h6 class="section-subheading">Nombre</h6>
                  {{ form.nombre }}
                </div>
                <div class="form-group">
                  <h6 class="section-subheading">Correo Electrónico</h6>
                  {{ form.mail }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-group-textarea mb-md-0">
                  <h6 class="section-subheading">Comentario</h6>
                  {{ form.descripcion }}
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-xl text-uppercase" type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </section>

{% endblock content %}