{% extends "main/base.html" %}
{% block content %}
    <div class="container mt-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Resetear Contraseña</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Resetear</button>
            </div>
        </form>
    </div>
{% endblock content %}