{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-4">
        <div class="my-5">
            <div class="row">
                <div class="col-lg-12">
                    <a  class="btn btn-outline-dark" href="{% url 'tienda' %}">&#x2190; Seguir comprando</a>
                    <br>
                    <br>
                    <table class="table">
                        <tr>
                            <th><h5>Items: <strong>3</strong></h5></th>
                            <th><h5>Total:<strong> $42</strong></h5></th>
                            <th>
                                <a style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                            </th>
                        </tr>
                    </table>
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Imagen</td>
                                <td>Milanesa</td>
                                <td>350$</td>
                                <td>
                                    <div>
                                        <p>2</p>
                                        <div>
                                            <img width="10" src="{% static  'tienda/img/flecha_arriba.png' %}">
                                            <img width="10" src="{% static  'tienda/img/flecha_abajo.png' %}">
                                        </div>
                                    </div>                              
                                </td>
                                <td>350$</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}