{% extends "main/plantilla.html" %}
{% load static %}
{% block content %}
<section class="page-section bg-light">
    <div class="container">
        <div class="border-bottom mb-5">
            <h2 class="section-heading text-uppercase text-left mb-2">Checkout</h2>
		</div>
		<div class="my-5">
			<div class="row">
				<div class="col-lg-6">
					<div class="box-element border rounded" id="form-wrapper">
						<form method="post" id="form">
							{% csrf_token %}
							{% if user.is_authenticated %}
							<div id="user-info" class="mb-4">
								<h5 class="text-center">Destinatario</h5>
								<div class="form-field">
									{{ form_usuario.first_name }}
								</div>
								<div class="form-field">
									{{ form_usuario.last_name }}
								</div>
								<div class="form-field">
									{{ form_usuario.email }}
								</div>
							</div>
							<div id="shipping-info">
								<h5 class="text-center">Información de envío</h5>
								<div class="form-field">
									{{ form_destino.calle }}
								</div>
								<div class="form-field">
									{{ form_destino.altura }}
								</div>
								<div class="form-field">
									{{ form_destino.municipio }}
								</div>
								<div class="form-field">
									{{ form_destino.localidad }}
								</div>
							</div>
							{% else %}
							<div id="user-info" class="mb-4">
								<h5 class="text-center">Destinatario</h5>
								<div class="form-field">
									<input required class="form-control" type="text" name="first_name" placeholder="Nombre">
								</div>
								<div class="form-field">
									<input required class="form-control" type="text" name="last_name" placeholder="Apellido">
								</div>
								<div class="form-field">
									<input required class="form-control" type="text" name="email" placeholder="Correo">
								</div>
							</div>
							
							<div id="shipping-info">
								<h5 class="text-center">Información de envío</h5>
								<div class="form-field">
									<input required class="form-control" type="text" name="calle" placeholder="Calle">
								</div>
								<div class="form-field">
									<input required class="form-control" type="number" name="altura" placeholder="Altura">
								</div>
								<div class="form-field">
									<input required class="form-control" type="text" name="municipio" placeholder="Municipio">
								</div>
								<div class="form-field">
									<input required class="form-control" type="text" name="localidad" placeholder="Localidad">
								</div>
							</div>

							{% endif %}
							<input id="form-button" class="btn btn-primary text-uppercase btn-block mt-4" type="submit" value="Aceptar y continuar">
						</form>
					</div>
		
					<br>
					<div class="box-element hidden border rounded" id="payment-info">
						<small>Opciones de Pago</small>
						<button class="btn btn-primary text-uppercase ml-3" id="make-payment">Pagar</button>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="box-element border rounded">
						<h3 class="mb-4">
							Resumen del pedido
							<a class="btn btn-primary btn-sm mt-1" style="float: right;" href="{% url 'carrito' %}">Volver al carrito</a>
						</h3>
						{% for item in items %}
						<div class="row border p-1 m-1 mt-3">
							<div class="col-7 p-2">
								{{ item.producto.nombre }}  x  {{ item.cantidad }}
								<div>
									ARS {{ item.producto.precio }}
								</div>
							</div>
							<div>
								{% if item.producto.ruta_imagen %}
								<div><img class="img-fluid rounded"  src="/media/{{ item.producto.ruta_imagen }}" width="120"></div>
								{% else %}
								<div></div>
								{% endif %}
							</div>
						</div>
						{% endfor %}
						<div class="row p-2">
							<div class="col-6">
								<h5>Cantidad:</h5>
								<h5>Total:</h5>
							</div>
							<div class="col-6">
								<h5 class="text-right">{{ orden.total_orden_cantidad }}</h5>
								<h5 class="text-right">ARS {{ orden.total_orden_precio }}</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	var total = '{{orden.total_orden_precio}}'
	var volver = "{% url 'tienda' %}"
</script>
{% endblock content %}