{% extends "main/plantilla.html" %}
{% load static %}
{% block content %}
<section class="page-section bg-light">
    <div class="container">
        <div class="border-bottom mb-5">
            <h2 class="section-heading text-uppercase text-left mb-2">Checkout</h2>
		</div>
		<div class="my-5">
			<div class="row">
				<div class="col-lg-6">
					<div class="box-element" id="form-wrapper">
						<form id="form">
							{% csrf_token %}
							<!-- <div id="user-info">
								<div class="form-field">
									<input required class="form-control" type="text" name="name" placeholder="Nombre">
								</div>
								<div class="form-field">
									<input required class="form-control" type="email" name="email" placeholder="Correo Electrónico">
								</div>
							</div> -->
							
							<div id="shipping-info">
								<h5 class="text-center">Información de envío</h5>
								<hr>
								<div class="form-field">
									<input required class="form-control" type="text" name="calle" placeholder="Calle">
								</div>
								<div class="form-field">
									<input required class="form-control" type="text" name="altura" placeholder="Altura">
								</div>
								<div class="form-field">
									<input required class="form-control" type="text" name="municipio" placeholder="Municipio">
								</div>
								<div class="form-field">
									<input required class="form-control" type="text" name="localidad" placeholder="Localidad">
								</div>
							</div>
							<input id="form-button" class="btn btn-primary text-uppercase btn-block mt-4" type="submit" value="Aceptar y continuar">
						</form>
					</div>
		
					<br>
					<div class="box-element hidden" id="payment-info">
						<small>Opciones de Pago</small>
						<button class="btn btn-primary text-uppercase ml-3" id="make-payment">Pagar</button>
					</div>
					
				</div>

				<div class="col-lg-6">
					<div class="box-element">
						<h3 class="mb-4">
							Resumen del pedido
							<a class="btn btn-primary btn-sm mt-1" style="float: right;" href="{% url 'carrito' %}">Volver al carrito</a>
						</h3>
						{% for item in items %}
						<div class="row border p-1 m-1 mt-3">
							<div class="col-7 p-2">
								{{ item.producto.nombre }}  x  {{ item.cantidad }}
								<div>
									ARS {{ item.producto.precio }}
								</div>
							</div>
							<div>
								{% if item.producto.ruta_imagen %}
								<div><img class="img-fluid rounded"  src="/media/{{ item.producto.ruta_imagen }}" width="120"></div>
								{% else %}
								<div></div>
								{% endif %}
							</div>
						</div>
						{% endfor %}
						<div class="row p-2">
							<div class="col-6">
								<h5>Cantidad:</h5>
								<h5>Total:</h5>
							</div>
							<div class="col-6">
								<h5 class="text-right">{{ orden.total_orden_cantidad }}</h5>
								<h5 class="text-right">ARS {{ orden.total_orden_precio }}</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<script type="text/javascript">

	var form = document.getElementById('form')


	var csrftoken_2 = document.getElementsByTagName("input")[0].value


	form.addEventListener('submit', function(e){
		e.preventDefault()
		console.log('Form Submitted...')
		document.getElementById('form-button').classList.add("hidden");
		document.getElementById('payment-info').classList.remove("hidden");
	})

	document.getElementById('make-payment').addEventListener('click', function(e){
	    	submitFormData()
	    })

	var total = "{{ orden.total_orden_precio }}"

	function submitFormData(){
		console.log('Payment button clicked')

		var userFormData = {
			'name':null,
			'email':null,
			'total':total,
		}

		var despachoInfo = {
			'calle':null,
			'altura':null,
			'municipio':null,
			'localidad':null,
		}

		despachoInfo.calle = form.calle.value
		despachoInfo.altura = form.altura.value
		despachoInfo.municipio = form.municipio.value
		despachoInfo.localidad = form.localidad.value

		if (user == 'AnonymousUser'){
			userFormData.name = form.name.value
			userFormData.email = form.email.value
		}

		console.log('Shipping Info:', despachoInfo)
		console.log('User Info:', userFormData)

		var url = "procesando"
		fetch(url, {
			method:'POST',
			headers:{
				'Content-Type':'applicaiton/json',
				'X-CSRFToken':csrftoken_2,
			}, 
			body:JSON.stringify({'form':userFormData, 'despacho':despachoInfo}),
			
		})
		.then((response) => response.json())
		.then((data) => {
			console.log('Success:', data);
			alert('¡Transacción Completada!');  

			cart = {}
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

			window.location.href = "{% url 'tienda' %}"

			})
	}

	// if (user != "AnonymousUser"){
	// 	document.getElementById("user-info").innerHTML = ""
	// }


</script>
{% endblock content %}