{% extends "main/plantilla.html" %}
{% block content %}
<section class="page-section bg-light">
    <div class="container">
        <div class="border-bottom mb-5">
            <h2 class="section-heading text-uppercase text-left mb-2">
                Perfil empleado
            </h2>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
        <form method="POST" enctype="multipart/form-data" id="form1">
            <div class="row">
                <div class="col">
                    {% csrf_token %}
                    <div class="box-element mb-3 border">
                        <div class="mt-3 mb-1">Nombre de usuario</div>
                        {{ user_form.username }}
                        <div class="mt-3 mb-1">Nombre</div>
                        {{ user_form.first_name }}
                        <div class="mt-3 mb-1">Apellido</div>
                        {{ user_form.last_name }}
                        <div class="mt-3 mb-1">Correo Electrónico</div>
                        {{ user_form.email }}
                        <div class="mt-3">Teléfono</div>
                        {{ employee_form.telefono }}
                    </div>
                </div>
                <div class="col">
                    <div class="box-element text-center border">
                        <div class="mt-3">Cargar foto</div>
                        <div class="mt-1">
                            <img class="mt-3" style="width: 70%;" class="img-thumbnail img-fluid" src="{{ user.profile.image.url }}">
                            <div class="mt-3">{{ perfil_form.image }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary text-uppercase mt-2" type="submit" name="actualizar" value="actualizar">Actualizar</button>
        </form>        
    </div>
</section>
{% endblock content %}