.catBtn {
    background-color: #dee2e6;
    border-radius: 4px;
    text-align: center;
    padding: 6px;
    margin-bottom: 4px;
    margin-left: -14px;
    margin-right: -14px;
}

.catBtn:hover {
    background-color: #dee2e6a4;
}

.up {
    float:right;
    margin-top: 7px;
}

.down {
    float:right;
	display: none;
    margin-top: 7px;
}

.food-box{
	display: none;
}

.hidden {
	display: none;
}

.show {
    display: inline;
}