{% extends "main/base.html" %}
{% block content %}
<div>
    Menu!
    {% if items %}
    {% for item in items %}
    <div>
        {% if user.is_employee or user.is_superuser %}
        <div>
            <a href="{% url 'modificar' item.id %}">Modificar</a>
            <form method="POST">
                {% csrf_token %}
                <div>
                    <button type="submit" name="eliminar" value="{{ item.id }}">Eliminar</button>
                </div>
            </form>
        </div>
        {% endif %}
        {{ item.nombre }}
        {{ item.descripcion }}
        {{ item.precio }}
        {{ item.delivery }}
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}