{% extends "main/plantilla.html" %}
{% block content %}
<section class="page-section bg-light">
    <div class="container">
        <div class="border-bottom mb-5">
            <h2 class="section-heading text-uppercase text-left mb-2">Modificar</h2>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <h5>
                            Categoria
                            <button type="button" class="btn btn-info btn-sm my-auto mx-2 m-1" data-toggle="modal" data-target="#myModal">+</button>
                        </h5>
                        {{ pr_form.categoria }}
                    </div>
                    <div class="form-group">
                        <h5>
                            Nombre
                        </h5>
                        {{ pr_form.nombre }}
                    </div>
                    <div class="form-group">
                        <h5>
                            Detalle
                        </h5>
                        {{ pr_form.detalle }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-check mb-3">
                        {{ pr_form.celiaco }}
                        <label class="form-check-label">
                            Celíaco
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        {{ pr_form.vegano }}
                        <label class="form-check-label">
                            Vegano
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        {{ pr_form.delivery }}
                        <label class="form-check-label">
                            Delivery/Take Away
                        </label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Precio</span>
                        </div>
                        {{ pr_form.precio }}
                        <div class="input-group-append">
                            <span class="input-group-text">$</span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Estado</label>
                        </div>
                        {{ pr_form.estado }}
                    </div>
                    <div class="border rounded my-3">
                        <span class="input-group-text mb-2">Subir imagen</span>
                        <div class="m-2">{{ pr_form.ruta_imagen }}</div>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <button class="btn btn-primary text-uppercase mt-2" type="submit" value='cargar' name="cargar">Modificar</button>
            </div>
        </form>
    </div>

    <div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header pb-0 ml-3">
                    <p>Administrar categorías</p>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 border">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="mt-2">Agregar categoría</div>
                                    <div class="mt-2">Nombre</div>
                                    <div class="mt-2">{{ add_cat.nombre }}</div>
                                    <div class="mt-2">Slug</div>
                                    <div class="mt-2">{{ add_cat.slug }}</div>
                                    <button class="btn btn-sm btn-outline-info mt-3" type="submit" name="agregar" value='agregar'>Agregar</button>
                                </form>                                
                            </div>
                            <div class="col-md-7 ml-auto border pl-3">
                                <form method="POST">
                                    <div>
                                        {% csrf_token %}
                                        <div class="mt-2">Eliminar categoría</div>
                                        <div class="mt-2 ml-n4">{{ del_cat.categoria }}</div>
                                        <button class="btn btn-sm btn-outline-info m-3" type="submit" name="eliminar" value='eliminar'>Eliminar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-3" style="text-align: right;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}