{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'users/signin.css' %}" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin" method="POST">
        <a href="{% url 'home' %}" >
            <img class="mb-4" src="{% static 'main/img/logo_shelter_2.png' %}" alt="" width="72" height="72">
        </a>
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
              <h1 class="h3 mb-3 font-weight-normal">Crear cuenta</h1>
              <small class="text-muted">Empleados</small>
            </legend>
            <div style="padding-top: 5px;">{{ form.username.label_tag }}</div>
            {{ form.username }}
            <div style="padding-top: 5px;">{{ form.email.label_tag }}</div>
            {{ form.email }}
            <div style="padding-top: 5px;">{{ form.password1.label_tag }}</div>
            {{ form.password1 }}
            <div style="padding-top: 5px;">{{ form.password2.label_tag }}</div>
            {{ form.password2 }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Registrarse</button>
            <div style="padding-top: 10px;">
              <small class="text-muted">
                La creación de tu cuenta será moderada por el administrador.
              </small>
            </div>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                ¿Ya tenés tu cuenta? <a class="ml-2" href="{% url 'login' %}">Ingresá</a>
            </small>
            <div style="padding: 10px;">
                <small class="text-muted">
                    <a class="ml-2" href="{% url 'home' %}">Volver</a>
                </small>
            </div>
        </div>
      </form>
  </body>
</html>