{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        ADMIN
        <p>{{ user.username }}</p>
        <p>{{ user.email }}</p>
        {% load static %}
        <img src="{{ user.profile.image.url }}">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Information</legend>
                {{ user_form|crispy }}
                {{ perfil_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" name="actualizar" value="actualizar">Update</button>
            </div>
        </form>
        <div>
            total clientes: {{ total_clientes }}
        </div>
        <div>
            {{ moderar }}
        </div>
        <hr>
        <div>
            Empleados:
            {% for empleado in empleados %}
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <div>
                        <button type="submit" name="activar" value="{{ empleado.id }}">Activar</button>
                    </div>
                    <div>
                        <button type="submit" name="desactivar" value="{{ empleado.id }}">Desactivar</button>
                    </div>
                </form>
            </div>
            <div>{{ empleado }}</div>
            <div>{{ empleado.id }}</div>
            <div>{{ empleado.first_name }}</div>
            <div>{{ empleado.last_name }}</div>
            <div>{{ empleado.is_active }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}